.backgroundnormal {
    background-image: url(Patterns/footer_lodyas.png);
    color: #000;
}

.purposeback {
    background-image: url(Patterns/window.jpg);
    color: #000;
    background-size: cover;
}

.indent {
    margin-left: 20px;
}

@media screen and (max-width: 700px) {
.purp {
    background: #8B008B;
}
}

@media screen and (min-width: 701px) {
.pinky {
    background: #FF1493;
}
}

.funnylink {
    color: grey;
    display: inline;
    cursor: pointer;
}

.textstyle {
    font-family: 'Playfair Display',serif;
    color: #fff;
    font-size: 1.4em;
}

.darktextstyle{
     font-family: 'Playfair Display',serif;
    color: black;
    font-size: 1.4em;
}

.searchInput{
    width: 100px;
}

.post-thumbnail{
  background-image: url("Patterns/blog_thumbnail_background.PNG");
  color: white;
  margin-top: 10px;   /* add a margin to look nice */
  white-space : pre;  /* preserve the original line breaks and spacing
                         (I need this because the content of the 
                         chapter is just text not HTML, so normally
                         the line breaks would be ignored) */
  overflow : hidden;  /* don't show a scroll bar when the text is
                         too big to fit in the box (which it always 
                         will be but we don't mind as it is just a 
                         thumbnail) */
  max-height: 150px;  /* make sure that the box doesn't get too big */
  height : 150px;     /* even if the text is big */
  border-radius: 10px;/* rounded corners */ 
}

#mainviewer {
  background-image: url("Patterns/blog_reading_background.PNG");
  background-size: cover;
  color: white;
  margin-top: 10px;   
  white-space : pre;   /* preserve the original line breaks (see above)*/
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer-credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  
}
