body{
	background:black;
	color:white;
}
/*
a{
	color:pink;
}

h1{ 
	font-family: "Times New Roman" serif;
	font-size: 40pt;
	font-weight: bold;
}

a:hover{
	color:red;
	background: white;
	text-decoration: none;
}

p{
	font-family: "Calibri" serif;
	font-size: 12pt;
} */

.indent{
	margin-left: 20px;
}

.picture{

	background-image: url("https://photos-3.dropbox.com/t/2/AAAr0xyVdLlxVxw1GQFNE_rrMlKu4GXhfJYMN_w3aSpvNQ/12/205084393/jpeg/32x32/1/_/1/2/P1110989.JPG/ELXq9JoBGIQQIAIoAg/MrKBgdtHUGh4npLMFQE8QgfuZZc1JimSaCeA3tQR1iY%2CWF-roScfXzt-EPp4y4YtUkpvJLgp6I-8kapqC2dJ0f4?size=1024x768&size_mode=3;")
}


@media screen and (max-width: 700px) {
  .purp {
    background: #8B008B;
  }
}


@media screen and (min-width: 701px) {
  .pinky {
    background: #FF1493 ;
  }
}



